@tailwind base;
@tailwind components;
@tailwind utilities;

.oxanium-cyber {
  font-family: "Oxanium", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}

.josefin-sans-variable {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: rgb(15, 15, 15);
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  display: flex !important;
  background-color: rgb(15, 15, 15) !important;
  gap: 12px !important;
  padding: 10px 16px !important;
  align-items: center;
  box-shadow: none !important;
  flex-wrap: nowrap !important;
  margin-top: 0 !important;
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.Titulo {
  margin: 0;
  font-family: "Oxanium", sans-serif !important;
  font-size: 40px;
  white-space: nowrap;
  background: linear-gradient(90deg, #33b0d1, #5ecbb1 100%);
  background-clip: text;
  color: transparent;
}

#busca {
  background: #242424 !important;
  border: 1px solid #165e6b !important;
  border-radius: 24px;
  width: 250px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin-left: 50px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
}

#busca2 {
  flex: 1;
  background-color: transparent !important;
  color: white !important;
  padding: 8px 12px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  outline: none;
}
